<div class="jumbotron">
  <br><br><br><br>
  <h1 class="display-4 text-center"> Look up a weather</h1>
  <br>
  <h3 class="display-8 text-center">  This is a weather search engine that shows
    the current weather in your area - want to search a weather?
    </h3>
</div>
<hr>

<div class="row">
  <div class="col-3 mx-auto">
      <div class="text-center">
        <form method="post" action="/getWeather">
          <h4>Enter the state that you live in:</h4><br>
          <input type="text" name="state" placeholder="Fullname of State/City">
          <input type="submit" class="btn btn-primary" value="Check Weather">
        </form>
          
      </div>
  </div>
</div>

